<div class="main-header">
  <div class="left-header">
    <div class="header-title">
     ruru
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">Pageを削除</a>
    </div>
  </div>
</div>

<div class="main-contents">
  <div class="main-content">
    
  <div class="lower-content">

    <div class="profile">
      <a href="#">Profile</a>
    </div>

    <div class="health_care">
      <a href="#">HealthCare</a>
    </div>

    <div class="grow">
      <a href="#">Grow</a>
    </div>

    <div class="care">
      <a href="#">Care</a>
    </div>

    <div class="diary">
      <a href="#">Diary</a>
    </div>

  </div>
</div>