<div class="main-header">
  <div class="left-header">
    <div class="header-title">
     RURU
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">Pageを削除</a>
    </div>
  </div>
</div>

<div class="main-contents">
  <div class="main-content">
    
  <div class="lower-content">

    <div class="registration">
      <a href="#">Registration</a>
    </div>
    
  </div>
</div>