<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="add-pet">
    <%= link_to "Petを追加する", root_path %>
  </div>
</div>

<div class="pet-names">
  <div class="pet-name">
    <div class="pet-name-room">
      <a href="#">Ruru</a>
    </div>
  </div>
</div>