<div class='room-form'>
  <h1>Pet Room</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='room-form__field'>
      <div class='room-form__field--left'>
        <%= f.label :name , class: 'room-form__label'%>
      </div>
      <div class='room-form__field--right'>
        <%= f.text_field :name, class: 'room_name room-form__input', placeholder: 'ペットの名前を入力してください'%>
      </div>
    </div>
    <div class='room-form__field'>
    </div>
    <div class='room-form__field'>
      <div class='room-form__field--left'>
      <div class='room-form__field--right'>
      </div>
    </div>
    <div class='room-form__field'>
      <div class='room-form__field--left'></div>
      <div class='room-form__field--right'>
        <%= f.submit class: 'room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
