.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh - 100px;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #d491a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.add-pet a {
  font-size: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 14px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.pet-names {
  background-color: #cfe6d2;
  height: calc(100vh);
  padding: 0 20px;
  overflow: scroll;
}

.pet-name {
  padding: 20px 0 40px;
}

.pet-name a {
  text-decoration: none;
  color: white;
}

.main {
  background-color: rgb(238, 206, 219);
  width: calc(100vw - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  font-size: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 14px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.main-contents {
  background-color: #f7f7ee;
  height: calc(100vh - 100px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.main-content {
  margin: 5px 0 0 0;
}

.lower-content {
  margin-top: 10px;
}

.profile {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}
.profile a {
  text-decoration: none;
  border: 1px solid rgb(150, 148, 148);
  color: rgb(150, 148, 148);
  padding: 10px;
}

.health_care {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}
.health_care a {
  text-decoration: none;
  border: 1px solid rgb(150, 148, 148);
  color: rgb(150, 148, 148);
  padding: 10px;
}

.grow {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.grow a {
  text-decoration: none;
  border: 1px solid rgb(150, 148, 148);
  color: rgb(150, 148, 148);
  padding: 10px;
}

.care {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.care a {
  text-decoration: none;
  border: 1px solid rgb(150, 148, 148);
  color: rgb(150, 148, 148);
  padding: 10px;
}

.diary {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}
.diary a {
  text-decoration: none;
  border: 1px solid rgb(150, 148, 148);
  color: rgb(150, 148, 148);
  padding: 10px;
}
